/* src/TableUpload.css */


.table-container {
  border-collapse: collapse;
  position: fixed;
  margin-top: 35px;
  right: 450px;
  width: 50%;
  height: 45%;
  overflow:auto;
  border: 1px solid black;
  padding: 5px;
}

table {
  
  border-collapse: collapse;
  width: 100%;
 
  
} 

 table, th, td {
  border: 1px solid black;
  
}

 td {
  padding: 20px;
  text-align: left;
} 


.modal-overlay {
  position: fixed;
  top: 150px;
  left: 300px;
  width: 70%;
  height: 70%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 8px;
  transform: none; /* Avoid scaling in the modal */
  max-width: 90%; /* Adjust size of modal */
}

@media screen and (min-resolution: 2dppx) {
  table, th, td {
    border: 1px solid #ddd;
    font-size: 18px; /* Increase font size for high-res screens */
  }
}

.modal-close {
  position: absolute;
  top: 580px;
  right: 90px;
  background: black;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.popup {
  position: fixed;
  height: 70%;
  width: 70%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 70%;
  width: 70%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
